/BangunRuang/nbproject/private/
/BangunRuang/build/
/BangunRuang/dist/
/Tugas1_PBO/build/
/KalkulatorBalok/nbproject/private/
/KalkulatorBalok/build/
/KalkulatorBalok/dist/
/p/build/
/p/nbproject/private/
/p/dist/
/KuisSeleksiDivisi/nbproject/private/
/KuisSeleksiDivisi/build/
/KuisSeleksiDivisi/dist/
/RatingFilm/nbproject/private/
/RatingFilm/build/
/RatingFilm/dist/
/MVC/006 - contact list/dist/
/UAS/dist/
/Inventaris/nbproject/private/
/Inventaris/build/
/Inventaris/dist/
